body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-between;
}

div {
    display: flex;
}

ul {
    list-style: none;
}

.web-header {
    border-radius: 0;
    background-color: lightgray;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: black 0 2px 10px;
}


.options-container {
    display: flex;
    width: 100%;
    max-width: 450px;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    justify-items: center;

}

.options-container a {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    transition: 0.3s ease;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap; /* додано властивість, щоб запобігти перенесенню тексту на новий рядок */
}

.options-container a p{
    padding: 0 15px 0 15px
}

.options-container a:hover {
    background: rgba(255, 255, 255, 0.54);
    transition: 0.3s ease;
    padding: 0 15px 0 15px;
    border-radius: 15px;
}

.logo {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 12px 0 5px 12px;
    color: black;
    transition: .5s;
    font-family: Verdana, sans-serif;
}

.logo:hover{
    transform: scale(1.2);
}

button {
    border-radius: 10px;
    margin: 5px 12px 5px 0;
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: red;
    border: 2px solid white;
    transition: 0.3s ease;
}

.content {
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 50px 0 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.content h3 {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 15px;

}

.content p {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 15px;
    max-width: 350px;
    max-height: 250px;
}

.content img {
    border-radius: 15px;
}














