body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: space-between;
}

div {
    display: flex;
}

ul {
    list-style: none;
}

.web-header {
    border-radius: 0;
    background-color: #212146;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: black 0 2px 10px;
}


.options-container {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    justify-items: center;

}

.options-container a {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 0.9rem;
    text-align: center;
    display: block;
    transition: 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap; /* додано властивість, щоб запобігти перенесенню тексту на новий рядок */
}

.options-container a p{
 padding: 5px 15px 0 15px;
}

.options-container a:hover {
    padding: 0 15px 0 15px;
    transition: 0.3s ease;
    transform: scale(1.1);
}



.logo {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 12px 0 5px 20px;
    transition: .5s;
    font-family: Verdana, sans-serif;
}

.logo:hover{
    transform: scale(1.2);
}

.web-header *{
    color: lightgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    min-height: 400px;
    box-shadow: black 0 2px 10px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0; /* Adjust this if necessary */
    text-decoration: none;
    display: block;
    margin: 0; /* Make sure there's no margin */
    box-sizing: border-box;
    justify-content: space-between;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: darkred;
}

.fas.fa-user,
.fas.fa-shopping-cart,
.fa-heart {
    padding: 20px;
    font-size: 20px;
    transition: 0.3s ease ;
}

.fas.fa-user:hover,
.fas.fa-shopping-cart:hover,
.fa-heart:hover {
    color: white;
    transition: 0.3s ease;
    border-radius: 15px;
    transform: scale(1.5);
}

.content {
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 50px 0 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.content h3 {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 15px;

}

.content p {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 15px;
    max-width: 350px;
    max-height: 250px;
}

.content img {
    border-radius: 15px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #212146;
    padding: 60px 10%;

}

footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.2;
}

ul{
    list-style: none;
}

.footer-col {
    width: 25%;
    display: flex;
    flex-direction: column;

}

.footer-col h4 {
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    color: #67a8ef;
    text-transform: capitalize;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a {
    display: inline-block;
    font-size: 15px;
    text-transform: capitalize;
    color: #d3d3d3;
    text-decoration: none;
    transition: 0.4s;
    box-sizing: content-box;
    padding: 0;
}

ul li a:hover {
    color: white;
    padding-left: 2px;
    transition: 0.3s ease;
    transform: scale(1.2);
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover{
    color: #4d4f55;
    background-color: white;
}















